# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Environment variables
.env
instance/

# IDE
.idea/
.vscode/

# Google Cloud & Firebase
service-account-key.json
firebase-admin-sdk-key.json
